{{>header}}

<div class="jumbotron">
  <h1 class="display-4">My Saved Articles</h1>
  <p class="lead">Articles you saved * Feel free to add comments to your articles</p>
  <hr class="my-4">
</div>

<div>
    <p>I saved articles!</p>
</div>

{{>footer}}